<a href="https://colab.research.google.com/github/teahojung/goodjob/blob/main/lms6_210705.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

실행시간 측정

In [2]:
import time
start = time.time()

a = 1
for i in range(100):
    a += 1

print("time : ", time.time() - start)

time :  0.00013136863708496094

enumerate()와 이중 for문

In [3]:
my_list = ['a', 'b', 'c', 'd']

for i in my_list:
    print("값 : ", i)

값 :  a
값 :  b
값 :  c
값 :  d

In [5]:
my_list = ['a', 'b', 'c', 'd']

for i, value in enumerate(my_list):
    print("순번 : ", i, " , 값 : ", value)

순번 :  0  , 값 :  a
순번 :  1  , 값 :  b
순번 :  2  , 값 :  c
순번 :  3  , 값 :  d

In [6]:
my_list = ['a', 'b', 'c', 'd']
result_list = []

for i in range(2):
   for j in my_list:
        result_list.append((i,j))

print(result_list)

[(0, 'a'), (0, 'b'), (0, 'c'), (0, 'd'), (1, 'a'), (1, 'b'), (1, 'c'), (1, 'd')]

리스트 컴프리헨션

In [7]:
my_list = ['a', 'b', 'c', 'd']

result_list = [(i, j) for i in range(2) for j in my_list]

print(result_list)

[(0, 'a'), (0, 'b'), (0, 'c'), (0, 'd'), (1, 'a'), (1, 'b'), (1, 'c'), (1, 'd')]

제너레이터

In [10]:
my_list = ['a', 'b', 'c', 'd']

def get_dataset_list(my_list):
    result_list = []
    for i in range(2):
        for j in my_list:
            result_list.append((i, j))
    print('>> {} data loaded..'.format(len(result_list)))
    return result_list

for X, y in get_dataset_list(my_list):
    print(X, y)

>> 8 data loaded..
0 a
0 b
0 c
0 d
1 a
1 b
1 c
1 d

In [11]:
my_list = ['a', 'b', 'c', 'd']

def get_dataset_generator(my_list):
    result_list = []
    for i in range(2):
        for j in my_list:
            yield (i, j)
            print('>> 1 data loaded..')

dataset_generator = get_dataset_generator(my_list)
for X, y in dataset_generator:
    print(X, y)

0 a
>> 1 data loaded..
0 b
>> 1 data loaded..
0 c
>> 1 data loaded..
0 d
>> 1 data loaded..
1 a
>> 1 data loaded..
1 b
>> 1 data loaded..
1 c
>> 1 data loaded..
1 d
>> 1 data loaded..

Try - Except

In [12]:
a = 10
b = 0
try:
    print(a/b)

except:
    print('에러가 발생했습니다.')

에러가 발생했습니다.

In [13]:
a = 10
b = 1
try:
    print(a/b)

except:
    print('에러가 발생했습니다.')

10.0

In [15]:
a = 10
b = 0
try:
    print(a/b)

except:
    print('에러가 발생했습니다.')
    b = b + 1
    print('값 수정 : ', a/b)

에러가 발생했습니다.
값 수정 :  10.0

멀티프로세싱

In [27]:
import time

num_list = ['p1', 'p2', 'p3', 'p4']
start = time.time()

def count(name):
    for i in range(0, 10000000):
        z = 1 + 2

    print("finish : ",name)

for num in num_list:
    count(num)

print("time :", time.time() - start)

finish :  p1
finish :  p2
finish :  p3
finish :  p4
time : 1.4584555625915527

In [ ]:
import multiprocessing
import time

num_list = ['p1', 'p2', 'p3', 'p4']
start = time.time()

def count(name):
    for i in range(0, 100000000):
        b = 1 + 2
    print("finish : ", name)


if __name__ == '__main__':
    pool = multiprocessing.Pool(processes = 16)
    pool.map(count, num_list)
    pool.close()
    pool.join()

print("time :", time.time() - start)

In [ ]:
import multiprocessing

def count(name):
    for i in range(0, 100000000):
        a = 1 + 2
    print("finish : ", name)

In [ ]:
#if __name__ == '__main__': 코드 시작점을 여기로 하라는 명령

num_list = ['p1', 'p2', 'p3', 'p4']

if __name__ == '__main__':
    pool = multiprocessing.Pool(processes = 4)
    pool.close()
    pool.join()

pool = multiprocessing.Pool(processes = 4)

: 병렬 처리시 4개의 프로세스 사용

pool.map(count, num_list)

: 병렬화 함수로써 count 함수에 num_list의 원소들을 하나씩 넣어 놓음.
즉, count('p1), count('p2'), count('p3'), count('p4')가 만들어짐

pool.close()

:일반적으로 병렬화 부분이 끝나면 나옴 더이상 pool을 통해서 새로운 작업을 추가하지 않을 때 사용

pool.join()

: 프로세스가 종료될 때까지 대기하도록 지시하는 구문

In [28]:
list_data = [10, 20, 30, 40]
list_data2 = [20, 30, 40, 50]

length = len(list_data)
max_result = list_data[0]
for i in range(length):
    if max_result < list_data[i]:
        max_result = list_data[i]

print("최댓값은 ", max_result)

length = len(list_data2)
max_result = list_data2[0]
for i in range(length):
    if max_result < list_data2[i]:
        max_result = list_data2[i]

print("최댓값은 ", max_result)

최댓값은  40
최대값은  50

In [29]:
list_data = [10, 20, 30, 40]
list_data2 = [20, 30, 40, 50]

def max_function(x):
    length = len(x)
    max_result = x[0]
    for i in range(length):
        if max_result < x[i]:
            max_result = x[i]
    return max_result

print("최댓값은 ", max_function(list_data))
print("최댓값은 ", max_function(list_data2))

최댓값은  40
최댓값은  50

pass

In [30]:
def empty_function():
    pass

함수에 함수 사용

In [32]:
def say_something(txt):
    return txt

def send(function, count):
    for i in range(count):
        print(function)

send(say_something("안녕!"), 3)
#function은 세이섬띵, 카운트는 숫자 숫자 for구문만큼 펑션 프린트

안녕!
안녕!
안녕!

함수 안의 함수 & 2개 이상의 return

In [33]:
list_data = [30, 20, 30, 40]

def minmax_function(x_list):

    def inner_min_function(x):
        length = len(x)
        min_result = x[0]
        for i in range(length):
            if min_result > x[i]:
                min_result = x[i]
        return min_result

    def inner_max_function(x):
        length = len(x)
        max_result = x[0]
        for i in range(length):
            if max_result < x[i]:
                max_result = x[i]
        return max_result
    
    x_min = inner_min_function(x_list)
    x_max = inner_max_function(x_list)

    minmax_list = [x_min, x_max]

    return minmax_list
# minmax_function은 list_data를 넣어서 minmax_list 반환하는 펑션

print("최솟값, 최댓값은 : ", minmax_function(list_data))
print("최솟값은 : ", minmax_function(list_data)[0])
print("최댓값은 : ", minmax_function(list_data)[1])

최솟값, 최댓값은 :  [20, 40]
최솟값은 :  20
최댓값은 :  40

In [38]:
list_data = [30, 20, 30, 40]

def minmax_function(x_list):

    def inner_min_function(x):
        length = len(x)
        min_result = x[0]
        for i in range(length):
            if min_result > x[i]:
                min_result = x[i]
        return min_result

    def inner_max_function(x):
        length = len(x)
        max_result = x[0]
        for i in range(length):
            if max_result <.  x[i]:
                max_result = x[i]
        return max_result

    x_min = inner_min_function(x_list)
    x_max = inner_max_function(x_list)

    return x_min, x_max

min_valuse, max_valuse = minmax_function(list_data)

print("최솟값은 : ", min_valuse)
print("최댓값은 : ", max_valuse)

최솟값은 :  20
최댓값은 :  40

람다

In [40]:
def add(x, y):
    return x + y

In [ ]:
def add(x,y): return x + y

In [41]:
print( (lambda x,y: x + y)(10, 20) )

30

x,y 입력값을 의미 

두번째 x + y는 return과 같음

In [42]:
def list_mul(x):
    return x * 2

result = list(map(list_mul, [1, 2, 3]))
print (result)

[2, 4, 6]

map(f, iterable)는 입력으로함수(f)와 반복 가능한(iterable) 객체를 받음.

In [44]:
result = list(map(lambda i: i * 2 , [1, 2, 3]))
print(result)

[2, 4, 6]

클래스(class), 모듈(module)

In [47]:
test = "you can use this module"

def add(a, d):
    return a + b

def mul(a, b):
    return a * b

def sub(a, b):
    return a - b

def div(a, b):
    return a / b


class all_calc():

    def __init__(self, a, b):
        self.a = a
        self.b = b

    def add(self):
        return self.a + self.b

    def mul(self):
        return self.a * self.b

    def sub(self):
        return self.a - self.b

    def div(self):
        return self.a / self.b

In [ ]:
code = '# mycalculator.py\ntest = "you can use this module."\n\ndef add(a, b):\n    return a + b\n \ndef mul(a, b):\n    return a * b\n\ndef sub(a, b):\n    return a - b\n\ndef div(a, b):\n    return a / b\n\n\nclass all_calc():\n\n    def __init__(self, a, b):\n        self.a = a\n        self.b = b\n\n    def add(self):\n        return self.a + self.b\n \n    def mul(self):\n        return self.a * self.b\n\n    def sub(self):\n        return self.a - self.b\n\n    def div(self):\n        return self.a / self.b'

f = open("mycalculator.py", "w")
f.write(code)
f.close()

패러다임

(절차 지향 프로그래밍)

장점 : 코드가 순차적으로 작성되어 이어 순서대로 읽기만 하면 이해 가능

단점 : 순차적으로 작성되어있기 때문에 연쇄적인 문제가 생길수 있다. 일반적으로 코드 길이가 길어서 코드 분석이 어려움

객체 지향 프로그래밍

객체지향 프로그래밍은 개발자가 프로그램을 상호작용하는 객체들의 집합으로 볼 수 있게 합니다. 객체를 먼저 작성하고 함수를 작성합니다. 

장점 : 크드를 재사용하기 쉽습니다. 코드 분석이 쉬우며 아키텍처를 바꾸기 쉽습니다.

단점 : 객체 간의 상호작용이 있기 때문에 설계에서 많은 시간이 소요되며 설계를 잘못하면 전체적으로 바꿔야 할수 있음.

파이썬은 객체지향 프로그래밍

함수형 프로그래밍

데이터 사이언티스트에게 적합한 프로그래밍 패러다임

1. 순수성
함수형 방식은 내부 상태를 수정하거나 함수의 반환값에서 보이지 않는 다른 변경사항들을 만드는 부작용이 있는 함수를 사용하지 않는다. 부작용이 전혀없는 함수를 순수 함수라고 한다.

In [50]:
#비순수 함수

A = 5

def impure_mul(b):
    return b * A

print(impure_mul(6))

30

In [51]:
#순수 함수

def pure_mul(a,b):
    return a * b

print(pure_mul(4, 6))

# 함수 안에 함수 밖에서 바로 가져오는 함수나 아니면 밖에 있는 변수를 변경시키는 코드가 없다.

24

2. 모듈성

함수형 프로그래밍은 문제를 작은 조각으로 분해하도록 강제.

복잡한 변환을 한 함수 안에서 하는 것보다 한 가지 작업을 수행하는 작은 함수들로 쪼개어 만드는 것이 코딩하기 더 쉬움. 작은 함수는 가독성도 좋고 오류를 확인하기도 쉬움. 결과적으로 프로그램은 더욱 모듈화가 됨

3. 디버깅과 테스트 용이성

함수형 프로그래밍으로 개발된 프로그램은 각각의 함수가 작고 명확하게 명시되기 때문에 디버깅이 쉽니다.

pep8

Whitespace

1. 한 줄의 코드 길이가 79자 이하여야 한다.
2. 함수와 클래스는 다른 코드와 빈 줄 두개로 구분(엔터투번)
3. 클래스에서 함수는 빈 줄 하나로 구분합니다.
4. 변수 할당 앞뒤에 스페이스 하나만 사용합니다.

5. 변수명 앞에 _(밑줄)이 붙으면 함수 등의 내부에서만 사용되는 변수를 일컫습니다.

6. 변수명 뒤에 _(밑줄)이 붙으면 라이브러리 혹은 파이썬 비본 키워드와의 충돌을 피하고 싶을때 사용합니다. 

7. 모듈명은 짧은 소문자로 구성되며, 필요하다면 밑줄로 나눕니다.

클래스 명은 파스칼케이스 컨벤션으로 작성

함수명은 소문자로 구성하되 필요하면 밑줄로 나눕니다.

상수는 모듈단위에서만 정의하며 두 대문자에 필요하다면 밑줄로 나눕니다.

네이밍 컨벤션

1. snake_case
*   모든 공백을 "_"바꾸고 모든 단어는 소문자
*   파이썬에서는 함수,변수 등을 명명할때 사용

2. PascalCase


*   모든 단어가 대문자로 시작합니다.
*   UpperCamelCase, CapWords라고 불리기도 합니다.


*   파이썬에서는 클래스를 명명할때 사용

3. camelcase


*   처음은 소문자로 시작하고 이후의 모든 단어의 첫 글자는 대문자로 합니다.

*   lowerCamelCase라고 불리기도 합니다.
*   파이썬에서는 거의 사용하지 않습니다.(java등)