<a href="https://colab.research.google.com/github/teahojung/goodjob/blob/main/practice_210701.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

코딩도장 23강 2차원 리스트

for 반복문을 한번만 사용하기

In [2]:
a = [[10, 20], [30, 40], [50, 60]]
for x, y in a:
  print(x,y)

10 20
30 40
50 60

for 반복문을 두 번 사용하기

In [4]:
a = [[10, 20], [30, 40], [50, 60]]

for i in a:
    for j in i:
         print(j, end = '|')
    print()

10|20|
30|40|
50|60|

for와 range 사용하기

In [7]:
a = [[10, 20], [30, 40], [50, 60]]

for i in range(len(a)):
    for j in range(len(a[i])):
        print(a[i][j], end = ' ')
    print()

10 20
30 40
50 60

while 반복문을 한 번 사용하기

In [11]:
a = [[10, 20], [30, 40], [50, 60]]

i = 0
while i < len(a):
     x, y = a[i]
     print(x, y)
     i += 1

10 20
30 40
50 60

while 반복문을 두 번 사용하기

In [14]:
a = [[10, 20], [30, 40], [50, 60]]

i = 0
while i < len(a):
    j = 0
    while j < len(a[i]):
        print(a[i][j], end = ' ')
        j += 1
    print()
    i += 1

10 20
30 40
50 60


for 반복문으로 1차원 리스트 만들기

In [15]:
a = []

for i in range(10):
    a.append(0)

print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

for 반복문으로 2차원 리스트 만들기

In [17]:
a = []

for i in range(3):
    line = []
    for j in range(2):
        line.append(0)
    a.append(line)

print(a)

[[0, 0], [0, 0], [0, 0]]

리스트 표현식으로 2차원 리스트 만들기

In [2]:
a = [[0 for j in range(2)] for i in range(3)]
a

[[0, 0], [0, 0], [0, 0]]

In [4]:
a = [[0] * 2 for i in range(3)]
a

[[0, 0], [0, 0], [0, 0]]

톱니형 리스트 만들기

In [5]:
a = [3, 1, 3, 2, 5]
b = []

for i in a:
    line = []
    for j in range(i):
        line.append(0)
    b.append(line)

print(b)

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [20]:
a = [[0] * i for i in [3, 1, 3, 2, 5]]
a

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

솔티드로 2차원 리스트 정렬하기

In [37]:
students = [
            ['john', 'C', 7],
            ['maria', 'A', 25],
            ['andrew', 'B', 19]
]
print(sorted(students, key=lambda student: student[0]))

[['andrew', 'B', 19], ['john', 'C', 7], ['maria', 'A', 25]]

In [28]:
a = [[10, 20], [30, 40]]
b = a
b[0][0] = 500
b

[[500, 20], [30, 40]]

In [30]:
a = [[10,20], [30, 40]]
b = a.copy()
b[0][0] = 500
b

[[500, 20], [30, 40]]

In [33]:
a = [[10, 20], [30, 40]]
import copy
b = copy.deepcopy(a)
b[0][0] = 500
b

[[500, 20], [30, 40]]

연습문제

In [38]:
[[[0 for col in range(3)] for row in range(4)] for depth in range(2)]

[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]],
 [[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]]

리스트[높이인덱스][세로인덱스][가로인덱스]

리스트[높이인덱스][세로인덱스][가로인덱스] = 값

22장 심사문제

In [50]:
a,b=map(int,input().split())
x=[2**i for i in range(a,b+1)]
x.pop(1)
x.pop(-2)
print(x)

10 20
[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]

[LMS 공부] - 재귀

In [17]:
def fibonacci(n):
    if n <= 2:
        number = 1
    else:
        number = fibonacci(n - 1) + fibonacci(n - 2)
    return number

print(fibonacci(20))

6765

In [18]:
memory = {1: 1, 2: 1}

def fibonacci(n):
    if n in memory:
        number = memory[n]
    else:
        number = fibonacci(n-1) + fibonacci(n-2)
        memory[n] = number
    return number

print(fibonacci(20))

6765